*{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
}
body {
    text-align: center;
    font-family: sans-serif;
    flex-wrap: wrap;
}

/*Barra de navegación*/
.header{
    width:100%;
    background-color: #282828;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color:white;
  }
  .header .button{
    display: none;
  }
  .header .svg{
    width:2em;
    height:2em;
    fill:white;
  }
  .header .ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }
  .header .li{
    margin: 0 .5em;
  }


/*Tipografias*/
h1{
    color: white;
}
h2{
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}
h3{
     margin-bottom: 0.5rem;
     color: #9c27b0;
}
h4{
    color: white;
    font-size: 14px;
}
h5{
  font-size: 56px;
  color: #9c27b0;
  font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
h6{
  font-size: 32px;
  color: white;
  font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    font-size: 16px;
    line-height: 26px;
    margin:50px 200px 50px 200px;
    color: white;
}
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  a:hover{
      color: #9c27b0;
  }
  li {
    list-style-type: none;
  }


/*Secciones*/
.content{
    display: flex;
    flex-direction: column;
    padding: 85px 0px 85px 0px;
}
.iphone{
  background-color: #2a2a2a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("/img/portada2.png");
  background-size: cover;
}
.presentacion{
    background-image: url("img/portada.png");
    background-size: cover;
}
.products{
  background: rgb(156,39,176);
  background: linear-gradient(304deg, rgba(156,39,176,1) 0%, rgba(40,0,105,1) 100%);
}
.about{
  background: rgb(63,63,63);
  background: linear-gradient(304deg, rgba(63,63,63,1) 0%, rgba(42,42,42,1) 100%);
  display: flex;
  align-items: center;
}
.contact{
  background: rgb(156,39,176);
  background: linear-gradient(304deg, rgba(156,39,176,1) 0%, rgba(40,0,105,1) 100%);
}


/*Cards*/
.box-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    text-align: center;
}
.box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.box img {
    text-align: center;
    border-radius: 50%;
    background: #9c27b0;
    padding: 0.5rem;
}
.box2{
    height: 11rem;
    width: 34rem;
    background: rgb(31,31,31);
    background: linear-gradient(304deg, rgba(31,31,31,1) 0%, rgba(0,0,0,1) 100%);
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
}


/*Botones*/
.up{
    position: fixed;
    background-color: white;
    border-radius: 100%;
    padding: 10px;
    bottom: 20px;
    right: 20px;
}
.up:hover{
    background-color: #9c27b0;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
}
button{
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    display: block;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    color: #fff;
    text-decoration: none;
    background: #2a2a2a;
    cursor: pointer;
}
.btn:hover {
    color: #9c27b0;
}
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}


/*Formulario de contacto*/
:root {
  --font: 'Oxygen', sans-serif;
  --primary: #42E2B8;
  --gradient: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);
  --black: black;
}
body {
  font-family: var(--font);
  background: var(--gradient);
  margin: 0;
}
.form {
  max-inline-size: 550px;
  margin: auto;
}
.form label {
  color: rgb(197, 197, 197);
  display: block;
  margin-block-start: 1em;
  margin-block-end: .5em;
  padding-inline-start: .5em;
}
.form label span {
  color: #DA1414;
}
.form input, .form textarea {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: .8em;
  border-radius: .5em;
  border: 1px solid #9c27b0;
}
.footer {
  text-align: center;
}





@media screen and (max-width:480px){
  .header .button{
    display: block;
    cursor: pointer;
  }
  .header .nav{
    width:100%;
    height:0;
    pointer-events: none;
    overflow: hidden;
    transition: all .5s ease;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .header .nav.activo{
    height:50vh;
    pointer-events: auto;
  }
  .header .ul{
    flex-direction: column;
  }
  .header .li{
    margin: 1rem 0;
  }
  .box2{
    height: max-content;
  }
  h5{
    font-size: 1px;
  }
}

@media screen and (max-width:600px){
  .info{
    align-items: center;
  }
}

@media screen and (max-width:1080px){
    p{
        margin:50px 50px 50px 50px;
    }
}