*{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
}
body {
    text-align: center;
    font-family: sans-serif;
    flex-wrap: wrap;
}

/*Barra de navegación*/
.header{
    width:100%;
    background-color: #282828;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color:white;
  }
  .header .button{
    display: none;
  }
  .header .svg{
    width:2em;
    height:2em;
    fill:white;
  }
  .header .ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }
  .header .li{
    margin: 0 .5em;
  }


/*Tipografias*/
h1{
    color: white;
}
h2{
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}
h3{
     margin-bottom: 0.5rem;
     color: #9c27b0;
}
h4{
    color: white;
    font-size: 14px;
}
h5{
  font-size: 76px;
  color: #9c27b0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: 16px;
    line-height: 26px;
    margin:50px 200px 50px 200px;
    color: white;
}
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  a:hover{
      color: #9c27b0;
  }
  li {
    list-style-type: none;
  }


/*Secciones*/
.content{
    display: flex;
    flex-direction: column;
    padding: 85px 0px 85px 0px;
}
.iphone{
  background-color: #2a2a2a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("/img/portada2.png");
  background-size: cover;
}
.presentacion{
    background-image: url("img/portada.png");
    background-size: cover;
}
.products{
  background: rgb(156,39,176);
  background: linear-gradient(304deg, rgba(156,39,176,1) 0%, rgba(40,0,105,1) 100%);
}
.about{
  background: rgb(63,63,63);
  background: linear-gradient(304deg, rgba(63,63,63,1) 0%, rgba(42,42,42,1) 100%);
}
.contact{
  background: rgb(156,39,176);
  background: linear-gradient(304deg, rgba(156,39,176,1) 0%, rgba(40,0,105,1) 100%);
}


/*Cards*/
.box-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    text-align: center;
}
.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.box-container .box img {
    text-align: center;
    border-radius: 50%;
    background: #9c27b0;
    padding: 0.5rem;
}
.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
}


/*Botones*/
.up{
    position: fixed;
    background-color: white;
    border-radius: 100%;
    padding: 10px;
    bottom: 20px;
    right: 20px;
}
.up:hover{
    background-color: #9c27b0;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
}
button{
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    display: block;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    color: #fff;
    text-decoration: none;
    background: #2a2a2a;
}
.btn:hover {
    color: #9c27b0;
}
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}




@media screen and (max-width:480px){
  .header .button{
    display: block;
    cursor: pointer;
  }
  .header .nav{
    width:100%;
    height:0;
    pointer-events: none;
    overflow: hidden;
    transition: all .5s ease;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .header .nav.activo{
    height:50vh;
    pointer-events: auto;
  }
  .header .ul{
    flex-direction: column;
  }
  .header .li{
    margin: 1rem 0;
  }
}
@media screen and (max-width:600px){
  .info{
    margin-bottom: 30px;
    align-items: center;
  }
}
@media screen and (max-width:1080px){
    p{
        margin:50px 50px 50px 50px;
    }
}